commit.txt
target.mk
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
.Rhistory

*.wrapR.*

local.mk

*.Rout.envir
*.Routput
*.output
.Rproj.user

## Refs
auto.html
auto.md
manual.clip.bib

*.mdmk
*.bibmk
*.point

commit.time

.localdir/
MC_varlvl
cribdir
datadir
figdrop
localdir/
overleaf/

WorkingWiki-export/

auto.bib
refs.bib
%.bibmk
%.point

maketest/
%.clip.bib

%.makelog
%.deps
%.reqs
%.mk

dotdir/
refs.bib.po
